<label for="comuneSelect">Seleziona il comune in cui vuoi aggiungere il contenuto</label>
<select class="form-control" id="comuneSelect" [(ngModel)]="idc">
    <option *ngFor="let comune of comuni" [value]="comune.id">{{ comune.nome }}</option>
</select>
<label for="comuneSelect">Seleziona il tipo di contenuto</label>
<select class="form-control" id="comuneSelect" [(ngModel)]="tipo">
    <option [value]="0">POI</option>
    <option [value]="1">Evento</option>
    <option [value]="2">Orario</option>
</select>
<form [formGroup]=" formGroup" (ngSubmit)="submitForm()">

    <app-orari-form *ngIf="tipo != '0'" (orarioInserito)="handleOrarioInserito($event)"></app-orari-form>

    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="titolo" formControlName="titolo" placeholder="titolo">

    <label for="descrizione">Descrizione</label>
    <input type="text" class="form-control" id="descrizione" formControlName="descrizione" placeholder="descrizione">


    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>