<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card text-black mt-3">
          <div class="card-body">
            <h2 class="card-subtitle mb-2"> {{contenuto.titolo}} </h2>
            <p class="card-text"> {{contenuto.testo}} </p>
            <span class="badge bg-primary"> {{contenuto.stato}} </span>
            <button class="btn btn-danger mt-3" (click)="eliminaContenuto()">Richiedi eliminazione</button>
          </div>
        </div>
      </div>
    </div>
  </div>